.container {
    width: 600px;
    height: 150px;
    border: 5px solid #333333;
    margin: 30px auto;
    padding: 5px;
    box-sizing: border-box;
}

.container div {
    width: 100px;
    height: 100px;
    background-color: rgb(19, 133, 255);
    float: left;
}