h1{
    font-family: arial, verdana, sans-serif;
    font-size: 100px;
    font-weight: lighter;
    font-variant: small-caps;
    font-style: italic;
}

/*
    font-family: arial, verdana (nama font), sans-serif (generic family)
    font-size: px/ %/ em
    font-variant: normal/small-caps
    font-style: normal / italic / oblique
        oblique = sisten operasi memaksa font menjadi miring
    line-height: normal / px / em

--> font: italic normal bold 16px/18px helvetuca, arial, sans-serif;
--> font  style(opsional)-variant(o)-weight(o)-size(wajib)-height(o)- font family(wajib)

*/

p{
    font-family: georgia;
    line-height: 30px;
}

ul.a {
    list-style-type: square;
}
