/* 1.link = style default pada sebuah link (a yg memiliki href)
   2.hover = ketika kursor mouse berada diatas sebuah link/elemen
   3.active = ketika sebuah link di-klik (keadaan aktif)
   4.visited = ketika link sudah pernah dikunjungi sebelumnya
     (menggunakan browser yang sama)
*/

.he:link{
  color:orange;
}
.be:hover {
  font-family: arial;
  color: green;
}
.he:active{
  font-style: italic;
}
.he:visited{
  color: red;
}

/* 1 :first-child = memilih elemen pertama dari sebuah parent
      (elemen pembungkusnya)
   2 :last-child = memilih elemen terakhir dari sebuah parent
      (elemen pembungkusnya)
   3 :nth-child(n) = memilih elemen ke-n dari sebuah parent
      (elemen pembungkusnya).

      n bisa berarti urutan (1),(2),... atau pola (2n),(3n+2),(4n-1)
      atau ganjil dan genap (even) & (odd)  */

/* Anak dari <ul> ada 10 yaitu <li>, CSS tolong carikan saya <li> tapi yang
   merupakan anak pertama, lalu <a> didalamnya di edit..  */

li:first-child a{
  color: green;
}
li:last-child a{
  color: green;
}li:nth-child(2) a{
  color: green;
}
li:nth-child(3) a:hover{
  color: red;
}

/* 1 :first-of-type = memilih elemen pertama dari sebuah jenis/tipe tag
   2 :last-of-type = memilih elemen terakhir dari sebuah jenis/tipe tag*/

p:first-of-type{
  color:red;
}
