html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* STYLE */
body {
	font: 16px/28px arial, sans-serif;
	background-color: rgb(195,197,199);
	background-image: url(../../gambar_web/vintage.png);
}

.container{
	width: 960px;
	margin: auto;
	background-color: rgb(255,255,255);
}

.header {
	padding: 20px;
	padding-bottom: 10px;
}

.header .judul {
	font-size: 40px;
	font-weight: bold;
}

.header ul li {
	display: inline-block;
	margin-top: 20px;
	margin-right: 5px;
}

.header a {
	text-decoration: none;
	color: salmon;
	padding: 5px;
}

.header a:hover {
	background-color: rgb(105,190,250);
	color: white;
	transition: 0.5s;
}

.hero {
	height: 320px;
	background-image: url(../../gambar_web/tra.png);
	background-size: cover;
	background-position: 0 -200px;
	border-bottom: 5px solid lightskyblue;
	border-top: 5px solid salmon;
}

.main{
	width: 600px;
	padding: 20px;
	box-sizing: border-box;
	float: left;
}

.main h2{
	font-size: 32px;
	font-weight: bold;
}

.main .penulis {
	font-size: 13px;
}

.main .penulis a {
	color: salmon;
	text-decoration: none;
}

.main p {
	margin-bottom: 20px;
	text-align: justify;
}

.sidebar {
	width: 300px;
	float: right;
	padding: 20px;
}

.sidebar h3 {
	font-weight: bold;
	color: rgb(130,130,130);
}

.footer {
	background-color: rgb(45,45,45);
	padding: 9px;
}

.sidebar img {
	width: 100px;
	height: 120px;
	float: left;
	padding-right: 10px;
}

.sidebar p {
	font: 12px/18px arial;
}

.footer .copy{
	color: white;
	text-align: center;
	font-size: 13px;
}











.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}
