/* z-index digunakan untuk mengatur tumpukan elemen ketika dikasih
elemen non-static */

body {
	height: 2500px;
}


.satu {
	background-color: salmon;
	z-index: 2;
	width: 200px;
	height: 200px;
	position: absolute;	
}
.dua {background-color: lightgreen;
	top: 100px;
	left: 100px;
	width: 200px;
	height: 200px;
	position: absolute;
}
.tiga {
	background-color: royalblue;
	width: 200px;
	height: 200px;
	position: absolute;
	top: 200px;
	left: 200px;
	z-index: 1;
}

.bar {
	height: 40px;
	width: 100%;
	position: fixed;
	top: 0;
	background-color: black;
}

.bar h1 {
	margin-top: 0;
	text-align: center;
	color: white;
}

.kotak {
	background-color: black;
	position: fixed;
	top: 200px;
	bottom: 200px;
	right: 300px;
	left: 300px;
	opacity: 0.5;
	z-index: 9999;
}

.kotak p {
	color: white;
	font-size: 31px;
	font-family: arial;
	text-align: center;

}

.close {
	width: 30px;
	height: 30px;
	background-color: white;
	border: 4px solid;
	border-radius: 50%;
	position: absolute;
	top: -15px;
	right: -15px;
}
