/* sorthand :; 
margin: 10px; -->semua sisinya sebesar 10px
margin: 10px 20px; -->atas*bawah 10px | kiri&kanan 20px 
margin: 10px auto 30px; -->atas 10px, kanan&kiri auto, bawah 30px
margin: 10px 20px 30px 40px; -->searah jarum jam */


.satu{
	width: 200px;
	height: 200px;
	background-color: lightgreen;
	margin-left: 100px;
	margin-top: 30px;
	margin-bottom: 50px;
}
.dua{
	width: 100px;
	height: 100px;
	background-color: lightblue;
	margin-top: 50px;
}
.tiga{
	width: 50px;
	height: 50px;
	background-color: violet;
	margin-bottom:50px;
}

/* overlapping margin = margin tidak saling menambahkan, dia memilih yg
paling besar jaraknya */

/* jika vertikal = margin yg diambil yg pling besar
   jika horizontal = margin akan di jumlah */

div{
	display: inline-block;
}

.empat{
	width: 150px;
	height: 150px;
	background-color: lightgreen;
}
.lima{
	width: 100px;
	height: 100px;
	background-color: lightblue;
	margin-left: 30px;
	margin-right: 40px;
}
.enam{
	width: 50px;
	height: 50px;
	background-color: violet;
	margin-left: -30px;
}
.tujuh{
	display: block;
	width: 150px;
	height: 150px;
	background-color: lightgreen;
	margin-left: auto;
	margin-right: auto; 
}
.delapan{
	display: block;
	width: 100px;
	height: 100px;
	background-color: lightblue;
	margin-left: auto;
	margin-right: auto;
}
.sembilan{
	display: block;
	width: 50px;
	height: 50px;
	background-color: violet;
	margin-left: auto;
	margin-right: auto;
}