.ea{
	width: 300px;
	height: 300px;
	background-color: coral;
	margin: 20px 300px;
	overflow: auto;

	/* bila pading dikasih minus, tidak akan berpengaruh */
	padding: 20px;

	/* border: width style color; 
       style = solid, dotted, dashed, double
	*/
	border: 5px dashed green;
}
.satu{
	background-color: royalblue;
	width: 600px;
	margin: auto;
	padding: 11px;
}
.dua{
	background-color: lightgreen;
	width: 600px;
	padding: 9px;
	box-sizing: border-box;
}